<?xml version="1.0"?>
<config> 
	<modules>
		<Northton_Smskaufen>
			<version>0.1.0</version>
		</Northton_Smskaufen>
	</modules>
    <frontend>
        <routers>
            <smskaufen>
                <use>standard</use>
                <args>
                    <module>Northton_Smskaufen</module>
                    <frontName>smskaufen</frontName>
                </args>
            </smskaufen>
            <customer>
                <args>
                    <modules>
                      <Northton_Smskaufen before="Mage_Customer">Northton_Smskaufen</Northton_Smskaufen>
                   </modules>
                </args>
            </customer>
        </routers>
          <layout>
              <updates>
                  <ugiftcert module="Northton_Smskaufen">
                      <file>smskaufen.xml</file>
                  </ugiftcert>
              </updates>
          </layout>
    </frontend>
    
    <admin>
        <routers>
                <smskaufen>
                        <use>admin</use>
                        <args>
                                <module>Northton_Smskaufen</module>
                                <frontName>smskaufen</frontName>
                        </args>
                </smskaufen>
        </routers>
    </admin>
    <adminhtml>
            <layout>
                <updates>
                        <smskaufen>
                                <file>smskaufen.xml</file>
                        </smskaufen>
                </updates>
            </layout>
    </adminhtml> 
	<global>
		<helpers>
			<smskaufen>
				<class>Northton_Smskaufen_Helper</class>
			</smskaufen>
		</helpers>
	<models>
	    <!-- ... -->
	    <smskaufen>
		<class>Northton_Smskaufen_Model</class>
		<resourceModel>smskaufen_mysql4</resourceModel>
	    </smskaufen>   
	    <!-- ... -->
	    <smskaufen_mysql4>
		<class>Northton_Smskaufen_Model_Mysql4</class>
		<entities>
		    <smskaufen>
			<table>northton_smskaufen_log</table>
		    </smskaufen>
		</entities>
	    </smskaufen_mysql4>
	</models>
	<resources>
	    <smskaufen_setup>
		<setup>
		    <module>Northton_Smskaufen</module>
		</setup>
		<connection>
		    <use>core_setup</use>
		</connection>
	    </smskaufen_setup>
	    <smskaufen_write>
		<connection>
		    <use>core_write</use>
		</connection>
	    </smskaufen_write>
	    <smskaufen_read>
		<connection>
		    <use>core_read</use>
		</connection>
	    </smskaufen_read>
	</resources>
        <helpers>
            <smskaufen>
                <class>Northton_Smskaufen_Helper</class>
            </smskaufen>
        </helpers>
        <blocks>
            <smskaufen>
                <class>Northton_Smskaufen_Block</class>
            </smskaufen>
       <page>
            <rewrite>
                <html_head>Northton_Smskaufen_Block_Page_Html_Head</html_head>
            </rewrite>
        </page>
        </blocks>
	</global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <smskaufen_options>
                                            <title>Northton Smskaufen</title>
                                        </smskaufen_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    
</config>
